body {
    background-image: url("fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: rgba(255, 255, 255, 0.88);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    max-width: 350px;
}

h1 {
    color: #ff4d6d;
}

p {
    font-size: 18px;
    margin: 20px 0;
}

button {
    background: #ff4d6d;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #e63950;
}
#linkCanva {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: white;
    background: #ff758c;
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 15px;
}

#linkCanva:hover {
    background: #e63950;
}



